{% extends "home.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/pitchesList.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container card p-3">
        <h2 class="font-weight-bold">Pitches</h2>
        <div class="list-group">
            {% for pitch in pitches %}
                <a href="{% url 'pitchReservations' pitch.pitch_id currDate %}" id="{{ pitch.pitch_name }}"
                   onload="colorRating()"
                   class="list-group-item list-group-item-action"
                   onclick="passPitchData(this.id, {{ pitch.pitch_id }})">
                    <div>
                        {{ pitch.pitch_name }}
                        <div id="rating_container" class="float-right font-weight-bold">
                            <p id="rating" class="rating">
                                {{ pitch.rating }}
                            </p>
                        </div>
                    </div>
                </a>
                <script>

                    function getRatingClass(rating) {
                        if (rating < 3) {
                            return "text-danger";
                        } else if (rating < 4) {
                            return "text-warning";
                        } else {
                            return "text-success";
                        }
                    }

                    function colorRating() {
                        $(".rating").each(function () {
                                const ratingValue = parseFloat($(this).text());
                                const classToAdd = getRatingClass(ratingValue);
                                $(this).addClass(classToAdd);
                            }
                        );
                    }

                    window.onload = colorRating;


                    function passPitchData(name, id) {
                        localStorage.setItem("pitchName", name);
                        localStorage.setItem("pitchId", id);
                    }

                    function setRateValue(value) {
                        localStorage.setItem("rateValue", value);
                    }

                    function rateModal(whichPitch) {
                        $("#myModal").modal();
                        document.getElementById("modal_heading").textContent = `Rate pitch: `;
                        localStorage.setItem("ratePitchId", whichPitch);

                    }

                    function submitRate() {
                        let rate_pitch_Id = localStorage.getItem("ratePitchId");
                        let rate_value = localStorage.getItem("rateValue");
                        window.location.href = `/pitchesList/${rate_pitch_Id}/${rate_value}`
                    }
                </script>

                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 id="modal_heading" class="modal-title">Modal Heading</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio1"
                                           value="1" onclick="setRateValue(1)">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio2"
                                           value="2" onclick="setRateValue(2)">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio3"
                                           value="3" onclick="setRateValue(3)">
                                    <label class="form-check-label" for="inlineRadio3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio3"
                                           value="4" onclick="setRateValue(4)">
                                    <label class="form-check-label" for="inlineRadio4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio3"
                                           value="5" onclick="setRateValue(5)">
                                    <label class="form-check-label" for="inlineRadio5">5</label>
                                </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" onclick="submitRate()">Rate!
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
{% endblock content %}
