{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome in OrlickTracker!</title>
    <link rel="stylesheet" href="{% static '/css/start.css' %}">
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <p class="texter"> Welcome in web app OrlikTracker! </p>
            <p class="texter_l"> Login!</p>
            <form class="one-form" action="/loginUser/" method="post">{% csrf_token %}
                <input class="form-elem" type="email" name="email" placeholder="Enter email" value="">
                <input class="form-elem" type="password" name="password" placeholder="Enter password" value="">
                <button class="form-btn" type="submit" value="Login">Login now!</button>
            </form>
            <p class="texter_r"> Don't have an account? Register now!</p>
            <form class="one-form" action="/addUser/" method="post">{% csrf_token %}
                <input class="form-elem" type="email" name="email" placeholder="Enter email" value="">
                <input class="form-elem" type="password" name="password" placeholder="Enter password" value="">
                <button class="form-btn" type="submit" value="Register">Register now!</button>
            </form>
        </div>
    </div>
</body>
</html>