{% extends "home.html" %}
{% block content %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }


        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }


        @-webkit-keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }
            to {
                top: 0;
                opacity: 1
            }
        }

        @keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }
            to {
                top: 0;
                opacity: 1
            }
        }

        .modal-header {
            background-color: #268c87;
            color: white;
        }

        .modal-body {
            padding: 2px 16px;
        }

        .modal-footer {
            background-color: #268c87;
            color: white;
            padding: 2px 16px;
        }

        .mapid {
            margin: auto;
            width: 100%;
            padding: 300px;
            top: 20px;
            position: relative;

        }


        .autocomplete {
            /*the container must be positioned relative:*/
            position: relative;
            display: inline-block;
        }       
        .autocomplete-items {
            position: absolute;
            border: 2px solid #d4d4d4;
            border-radius: 10px;
            z-index: 1000;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 10px;
            right: 10px;
            max-height: 200px;
            overflow: auto;
        }
        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }
        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }
        .autocomplete-active {
            /*when navigating through the items using the arrow keys:*/
            background-color: #e9e9e9 !important;
        }

    </style>

    {% if pitch_not_found %}
        <div class="row justify-content-center">
            <div class="alert alert-danger mcol-md-6" role="alert" id="pitch_not_found_alert" style="margin-top:2em">
                Pitch does not exists!
                <button class="btn btn-light" onclick="closeAlert()">
                    OK
                </button>
            </div>
        </div>
    {% endif %}

    <div class="card" style="margin-top:1em;">
        <div class="card-body">
            <form action='/map/find/' method="POST" autocomplete="off">
                {% csrf_token %}
                 <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <input id="pitch_input" name="pitch_name" class="form-control autocomplete" type="text" placeholder="Type pitch name...">
                    </div>
                    <div class="col-md-2">
                        <input class="btn btn-outline-info btn-block" type="submit" value="Find"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="mapid" class="mapid"></div>

    <div id="myModal" class="modal">

        <form action="/makeReservation/" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <p id="pheader"></p>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p id="perror" style="color: red">

                        </p>
                    </div>
                    <div class="form-group">
                        <input type="text" readonly="readonly" class="form-control" name="pitch_id" id="pitch_id"
                               value="">
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" name="date" id="date" placeholder="Date"
                               max="2020-12-31">
                    </div>
                    <div class="form-group">
                        <label for="start-hour">Start hour</label>
                        <input type="time" class="form-control" name="start-hour" id="start-hour"
                               placeholder="Start hour">
                    </div>
                    <div class="form-group">
                        <label for="end-hour">End hour</label>
                        <input type="time" class="form-control" name="end-hour" id="end-hour" placeholder="End hour">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-light" onclick="return checkErrors()">Book</button>
                </div>
            </div>
        </form>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static "js/autocomplete.js" %}"></script>

    <script>
        var modal = document.getElementById("myModal");
        var mapelement = document.getElementById("mapid");
        var date = document.getElementById("date");
        var startHour = document.getElementById("start-hour");
        var endHour = document.getElementById("end-hour");
        var pitchId = document.getElementById("pitch_id");

        pitchId.style.display = "none";


        var map = L.map('mapid').setView([51.1079, 17.0385], 12);   
        var pitchArray = [];


        function checkErrors() {
            var d = new Date();
            var today = d.getFullYear() + '-' + String(d.getMonth() + 1).padStart(2, '0') + '-' + String(d.getDate()).padStart(2, '0');
            if (date.value > date.max || date.value < today) {
                console.log("2")
                document.getElementById("perror").innerHTML = " Wystąpił błąd podczas tworzenia takiej rezerwacji."
                return false;
            }
            if (startHour.value > endHour.value) {
                console.log("1");
                document.getElementById("perror").innerHTML = " Wystąpił błąd podczas tworzenia takiej rezerwacji."
                return false;
            }

            mapelement.style.zIndex = 0
        }

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var markersLayer = L.featureGroup().addTo(map);
        var marker;
        var pitch_names = [];

        {% if pitches_filter|length <= 0%}
            {% for pitch in user_pitches %}
                marker = L.marker(L.latLng({{ pitch.coordinateX  }}, {{ pitch.coordinateY }}), {title: "{{pitch.pitch_name}}"})
                    .addTo(markersLayer);

                marker.id = {{ pitch.id }}
                marker.name = "{{ pitch.pitch_name }}";
            {% endfor %}
        {% else %}
            {% for pitch in pitches_filter %}
                marker = L.marker(L.latLng({{ pitch.coordinateX  }}, {{ pitch.coordinateY }}), {title: "{{pitch.pitch_name}}"})
                    .addTo(markersLayer);

                marker.id = {{ pitch.id }}
                marker.name = "{{ pitch.pitch_name }}";
            {%endfor%}
        {% endif %}
        

        markersLayer.on("click", function (event) {
            pitchId.value = event.layer.id
            modal.style.display = "block";
            mapelement.style.zIndex = -1;
            document.getElementById("pheader").innerHTML = event.layer.name
        });

        window.onclick = function (event) {
            if (event.target === modal) {
                modal.style.display = "none";
                document.getElementById("perror").innerHTML = ""
                mapelement.style.zIndex = 0;
            }
        }

        function closeAlert() {
            $('#pitch_not_found_alert').hide()
        }


        {% for pitch in user_pitches %}
            pitch_names.push("{{pitch.pitch_name}}");
        {% endfor %}
        autocomplete(document.getElementById("pitch_input"), pitch_names);
    </script>
{% endblock content %}